@font-face {
    font-family: "Playwrite AU VIC Guides"
    src: url('../fonts/PlaywriteAUVICGuides-Regular.ttf') format('truetype'),
         url('../fonts/PlaywriteAUVICGuides-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Playwrite AU VIC Guides'
}